*,
*::before,
*::after {
  box-sizing: border-box;
} 

/* Creating the variables and their properties: */
:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

/* Assigning the variables to the properties of the img element: */
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

/* Assigning the variable to the color property of the "JS" span element: */
.hl {
    color: var(--base);
}


/* General Styles */
html {
    font-size: 16px;
}

body {
    background-color: #193549;
    color: white;
    text-align: center;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 3.125em;
    font-weight: 100;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    font-size: 0.750em;
}

.controls {
    margin-bottom: 50px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

label {
    padding: 10px;
    color: white;
}

input {
    width: 100px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

figure {
    width: 500px;
    margin: 20px;
}

img {
    max-width: 100%; 
}

